*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: left;
}

body{
    background-image: url(unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
ul {
    list-style: none;
    text-decoration: none;
}

h2 {
    display: flex;
    flex-flow:nowrap row;
    text-align: center;
    border: 2px dashed rgba(255, 176, 170, 1);
    justify-content: center;
    align-items: flex-start;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


p, .webtext{
    align-self: center;
    color: azure;
    opacity: 0.2;
}

#div1, #div2 {
    float: left;
}

#div1 {
    background-color: rgba(0, 0, 255, 0.2)
}

#div2 {
    background-color: rgba(255, 0, 0, 0.2);
}

.webtext:last-child {
    color: #384e38;
}

img {
    float: right;
}